/ExternalDependencyManager/
/GoogleMobileAds/
/Plugins/
/ExternalDependencyManager.meta
/GoogleMobileAds.meta
/Plugins.meta
/PangleAdapterScripts/
/CSJ/
/CSJ.meta
/MSDK/
/TapTapAndroid/
/TapTapAndroid.meta
/jhAndroidsdk/
/jhAndroidsdk.meta